<div class="newsletter text-center">
    <span class="h4"><img src="{{ site.baseurl }}/{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss anything from me, subscribe to my newsletter</span>
    <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
        <div class="mc-field-group d-inline-flex">
        <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
        <input type="submit" value="Subscribe" name="subscribe" class="heart">
        </div>
    </form>
</div>